<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cafe D'athens</title>
    <link rel="stylesheet" href="style.css">
    <link rel="popups" href="contentpop.html">
</head>
<body>
    <div class="Menu">
        <header>
            <em><span>Cafe D'athens</span></em>
        </header>
        <br><br>
                     <h1>Cafe D'athens - Уютный ресторан в центре Томска, созданный для тех, кто желает провести время за ужином или ланчем в приятной обстановке.</h1>
             <h1>Основное <a  class="popup_link" href="#popupM"> меню</a> - настоящая классика, исполненная в лучших традициях евромейской кухни</h1>
             <h1> Мы находимся по адресу: <a  class="popup_link" href="#popupG">Пр.Ленина 157/1 </a></h1>
             <h1>Контактный  номер: <br><a class="popup_link" href="#popupG">+7-230-00-23</a></h1>
    </div>
    <div class="Hall" style="position:relative; width: 1400px; height: 800px; top: 50px;">
        <div class="interer item" style="height:800px ; width: 100%; position: relative;">
            <div id="rectangle" style="width: 5px; height:580px ; background-color: #473435; position: absolute; left: 140px; top: 130px;"></div>
            <div id="rectangle" style="width: 200px; height:5px ; background-color: #473435; position: absolute; left: 145px; top: 130px;"></div>
            <div id="rectangle" style="width: 200px; height:5px ; background-color: #473435; position: absolute; left: 145px; top: 705px;"></div>
            <div id="rectangle" style="width: 5px; height: 580px; background-color: #473435; position: absolute; left: 345px; top: 130px;"></div>
            <div id="rectangle" style="width: 250px; height: 5px; background-color: #473435; position: absolute; left: 345px; top: 580px;"></div>
            <div id="rectangle" style="width: 5px; height: 150px; background-color: #473435; position: absolute; left: 590px; top: 580px;"></div>
            <div id="rectangle" style="width: 5px; height: 120px; background-color: #473435; position: absolute; left: 590px; top: 470px;"></div>
            <div id="rectangle" style="width: 500px; height: 5px; background-color: #473435; position: absolute; left: 590px; top: 730px;"></div>
            <div id="rectangle" style="width: 5px; height: 705px; background-color: #473435; position: absolute; left: 1090px; top: 30px;"></div>
            <div id="rectangle" style="width: 750px; height: 5px; background-color: #473435; position: absolute; left: 345px; top: 30px;"></div>
            <div id="rectangle" style="width: 5px; height: 100px; background-color: #473435; position: absolute; left: 345px; top: 30px;"></div>
            <div id="rectangle" style="width: 750px; height: 5px; background-color: #473435; position: absolute; left: 345px; top: 200px;"></div>
            <div id="rectangle" style="width: 5px; height: 170px; background-color: #473435; position: absolute; left: 650px; top: 30px;"></div>
            <div id="rectangle" style="width: 5px; height: 170px; background-color: #473435; position: absolute; left: 650px; top: 120px;"></div>
            <div id="rectangle" style="width: 200px; height: 5px; background-color: #473435; position: absolute; left: 550px; top: 285px;"></div>
            <div id="rectangle" style="width: 100px; height: 5px; background-color: #473435; position: absolute; left:350px; top: 470px;"></div>
            <div class="bar" style=" position:absolute; left: 790px; top: 50px;"><img src="content/bar.png" style="height: 150px; width: 150px;"></div>
            <div class="WS" style="position:absolute; left:410px; top: 50px;"><img src="content/ws.png" style="height:150px; width: 150px; "></div>
            <div class="host" style="position:absolute; left:490px; top:500px;"><img src="content/host.png" style="height:100px; width: 100px "></div>
            <div style="font-family: 'Amatic SC', cursive; font-size: 110px;transform: rotate(90deg);position: absolute;left: 1100px;top: 280px; color: rgba(94, 6, 6, 0.603);">Cafe D'athens</div>
        </div>
        <div class="activ interer" style="height:800px ; width: 100%; position: relative;z-index: 1; top:-800px;">
            @{
                int open = 0;
                foreach (var order in ViewBag.Tables[0].orders)
                {
                    if (order.state == true)
                    open++;
                }
                if (open > 0)
                {
                    <div id="731161" style="position: relative;z-index:1;width: 160px; top: 555px; left: 937px; "><a class="popup_link" href="#popup1"><img src="content/table1-R.png" style="height:175px; width: 170px;position: inherit; transform: rotate(90deg);"></a></div>
                }
                else
                {
                    <div id="731161" style="position: relative;z-index:1;width: 160px; top: 555px; left: 937px; "><a class="popup_link" href="#popup1"><img src="content/table1.png" style="height:175px; width: 170px;position: inherit; transform: rotate(90deg);"></a></div>
                }

                open = 0;
                foreach (var order in ViewBag.Tables[1].orders)
                {
                    if (order.state == true)
                    open++;
                }
                if (open > 0)
                {
                    <div id="731162" style="position: relative;z-index: 1;width: 160px;top: 190px; left: 937px;"><a href="#popup2" class="popup_link"><img src="content/table2-R.png" style="height:155px; width: 160px;position: inherit; transform: rotate(90deg);"></a></div>
                    
                }
                else
                {
                    <div id="731162" style="position: relative;z-index: 1;width: 160px;top: 190px; left: 937px;"><a href="#popup2" class="popup_link"><img src="content/table2.png" style="height:155px; width: 160px;position: inherit; transform: rotate(90deg);"></a></div>
                }
                open = 0;
                foreach (var order in ViewBag.Tables[3].orders)
                {
                    if (order.state == true)
                    open++;
                }
                if (open > 0)
                {
                    <div id="731164" style="position: relative;z-index: 1;width: 180px; top: 170px; left: 595px;"><a href="#popup4" class="popup_link"><img src="content/table4-R.png" style="height:230px; width: 230px;position: inherit"></a></div>
                }
                else
                {
                    <div id="731164" style="position: relative;z-index: 1;width: 180px; top: 170px; left: 595px;"><a href="#popup4" class="popup_link"><img src="content/table4.png" style="height:230px; width: 230px;position: inherit"></a></div>
                }
                open = 0;
                foreach (var order in ViewBag.Tables[4].orders)
                {
                    if (order.state == true)
                    open++;
                }
                if (open > 0)
                {
                    <div id="731165" style="position: relative;z-index: 1;width: 110px; top: -370px; left: 970px;"><a href="#popup5" class="popup_link"><img src="content/table5-R.png" style="height:140px; width: 140px;position: relative; transform: rotate(90deg);"></a></div>
                }
                else
                {
                    <div id="731165" style="position: relative;z-index: 1;width: 110px; top: -370px; left: 970px;"><a href="#popup5" class="popup_link"><img src="content/table5.png" style="height:140px; width: 140px;position: relative; transform: rotate(90deg);"></a></div>
                }
                open = 0;
                foreach (var order in ViewBag.Tables[5].orders)
                {
                    if (order.state == true)
                    open++;
                }
                if (open > 0)
                {
                    <div id="731166" style="position: relative;z-index: 1;width: 160px; top: -170px; left: 120px;"><a href="#popup6" class="popup_link"><img src="content/table6-R.png" style="height:150px; width: 150px;position: relative; transform: rotate(90deg);"></a></div>
                }
                else
                {
                    <div id="731166" style="position: relative;z-index: 1;width: 160px; top: -170px; left: 120px;"><a href="#popup6" class="popup_link"><img src="content/table6.png" style="height:150px; width: 150px;position: relative; transform: rotate(90deg);"></a></div>
                }
                
                open = 0;
                foreach (var order in ViewBag.Tables[6].orders)
                {
                    if (order.state == true)
                    open++;
                }
                if (open > 0)
                {
                    <div id="731167" style="position: relative;z-index: 1;width: 160px; top: -520px; left: 118px;"><a href="#popup7" class="popup_link"><img src="content/table7-R.png" style="height:150px; width: 150px;position: relative; transform: rotate(90deg);"></a></div>
                }
                else
                {
                    <div id="731167" style="position: relative;z-index: 1;width: 160px; top: -520px; left: 118px;"><a href="#popup7" class="popup_link"><img src="content/table7.png" style="height:150px; width: 150px;position: relative; transform: rotate(90deg);"></a></div>
                }
                open = 0;
                foreach (var order in ViewBag.Tables[7].orders)
                {
                    if (order.state == true)
                    open++;
                }
                if (open > 0)
                {
                    <div id="731168" style="position: relative;z-index: 1;width: 160px;top: -715px;left: 315px;"><a href="#popup8" class="popup_link"><img src="content/table8-R.png" style="height:150px; width: 150px;position: relative;transform: rotate(90deg);"></a></div>
                }
                else
                {
                    <div id="731168" style="position: relative;z-index: 1;width: 160px;top: -715px;left: 315px;"><a href="#popup8" class="popup_link"><img src="content/table8.png" style="height:150px; width: 150px;position: relative;transform: rotate(90deg);"></a></div>
                }
                open = 0;
                foreach (var order in ViewBag.Tables[2].orders)
                {
                    if (order.state == true)
                    open++;
                }
                if (open > 0)
                {
                    <div id="731163" style="position: relative;z-index: 1;width: 160px;top: -1050px; left: 140px"><a href="#popup3" class="popup_link"><img src="content/table3-R.png" style="height:160px; width: 160px;position: inherit; transform: rotate(90deg);"></a></div>
                }
                else
                {
                    <div id="731163" style="position: relative;z-index: 1;width: 160px;top: -1050px; left: 140px"><a href="#popup3" class="popup_link"><img src="content/table3.png" style="height:160px; width: 160px;position: inherit; transform: rotate(90deg);"></a></div>
                }
                open = 0;
                foreach (var order in ViewBag.Tables[8].orders)
                {
                    if (order.state == true)
                    open++;
                }
                if (open > 0)
                {
                    <div id="731169" style="position: relative;z-index: 1;width: 160px; top: -1090px; left: 570px"><a href="#popup9" class="popup_link"><img src="content/table9-R.png" style="height:160px; width: 160px;position: inherit"></a></div>
                }
                else
                {
                    <div id="731169" style="position: relative;z-index: 1;width: 160px; top: -1090px; left: 570px"><a href="#popup9" class="popup_link"><img src="content/table9.png" style="height:160px; width: 160px;position: inherit"></a></div>
                }
            }
        </div>

    </div>
    <div id="popup1" class="popup">
        <div class="infowindow_body">
            <div class="infowindow_content">
                <a href="#table" class="infowindow_close close-popup">X</a>
                <div class="infowindow_title">Стол №1</div>
                
                <div class="infowindow_pic"><img src="content/mesto1.jpg" alt="table1" style="height:200px; width:400px; position: relative;left: 30px; "></div>
                <div class="infowindow_text">
                    <p>Вместимость: 6 человек</p>
                    <p>
                        Состояние стола:
                        @{
                            foreach (var order in ViewBag.Tables[0].orders)
                            {
                                if (order.state == true)
                                open++;
                            }
                            if (open > 0)
                            {
                                    <text>Занято</text>
                            }
                            else
                            {
                                    <text>Свободно</text>
                            }
                        }
                    </p>
                    <form action="/Book">
                        <input type="hidden" name="id" value="@ViewBag.Tables[0].number" />
                        <p>
                            Введите ваше имя:
                            <input type="text" name="name" class="text" size="20" required maxlength="20">
                        </p>
                        <p>
                            Ведите количество человек:
                            <input type="number" class="text" size="20" required min="1" max="6" value="1">
                        </p>
                        <p>
                            Телефон в формате +7-xxx-xx-xx:  <input type="tel" name="tel" class="text"
                                                                    pattern="+7[0-9]{3}-[0-9]{2}-[0-9]{2}">
                        </p>
                        <p>
                            Время бронирования:
                            <input type="datetime-local" required name="date" min="09:00" max="23:00">
                        </p>
                        <span style="font-size: 20px;">Комфортный столик с двумя диванами, вместимость до шести человек</span>
                        <p><input type="submit" value="Забронировать         ➜" style="color:wheat; background-image: linear-gradient(to right, rgb(41, 6, 6),rgb(49, 2, 41));font-size: 35px ; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(44, 1, 35);"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="popup2" class="popup">
        <div class="infowindow_body">
            <div class="infowindow_content">
                <a href="#table" class="infowindow_close close-popup">X</a>
                <div class="infowindow_title">Стол №2</div>
                <div class="infowindow_pic"><img src="content/mesto2.jpg" alt="table1" style="height:200px; width:400px; position: relative;left: 30px; "></div>
                <div class="infowindow_text">
                    <p>Вместимость: 6 человек</p>
                    <p>
                        Состояние стола:
                        @{
                            open = 0;
                            foreach (var order in ViewBag.Tables[1].orders)
                            {
                                if (order.state == true)
                                    open++;
                            }
                            if (open > 0)
                            {
                                    <text>Занято</text>
                            }
                            else
                            {
                                    <text>Свободно</text>
                            }
                        }
                    </p>
                    <form action="/Book">
                        <input type="hidden" name="id" value="@ViewBag.Tables[1].number" />
                        <p>
                            Введите ваше имя:
                            <input type="text" name="name" class="text" size="20" , required, maxlength="20">
                        </p>
                        <p>
                            Ведите количество человек:
                            <input type="number" class="text" size="20" , required, min="1" max="6" value="1">
                        </p>
                        <p>
                            Телефон в формате +7-xxx-xx-xx:  <input type="tel" name="tel" class="text"
                                                                    pattern="+7[0-9]{3}-[0-9]{2}-[0-9]{2}">
                        </p>
                        <p>
                            Время бронирования:
                            <input type="datetime-local" name="date" min="09:00" max="23:00">
                        </p>
                        <span style="font-size: 20px;">Комфортный столик с двумя диванами, вместимость до шести человек</span>
                        <p><input type="submit" value="Забронировать         ➜" style="color:wheat; background-image: linear-gradient(to right, rgb(41, 6, 6),rgb(49, 2, 41));font-size: 35px ; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(44, 1, 35);"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="popup3" class="popup">
        <div class="infowindow_body">
            <div class="infowindow_content">
                <a href="#table" class="infowindow_close close-popup">X</a>
                <div class="infowindow_title">Стол №3</div>
                <div class="infowindow_pic"><img src="content/mesto3.jpg" alt="table1" style="height:200px; width:400px; position: relative;left: 30px; "></div>
                <div class="infowindow_text">
                    <p>Вместимость: 6 человек</p>
                    <p>
                        Состояние стола:
                        @{
                            open = 0;
                            foreach (var order in ViewBag.Tables[2].orders)
                            {
                                if (order.state == true)
                                    open++;
                            }
                            if (open > 0)
                            {
                                    <text>Занято</text>
                            }
                            else
                            {
                                    <text>Свободно</text>
                            }
                        }
                    </p>
                    <form action="/Book">
                        <input type="hidden" name="id" value="@ViewBag.Tables[2].number" />
                        <p>
                            Введите ваше имя:
                            <input type="text" name="name" class="text" size="20" , required, maxlength="6">
                        </p>
                        <p>
                            Ведите количество человек:
                            <input type="number" class="text" size="20" , required, min="1" max="15" value="1">
                        </p>
                        <p>
                            Телефон в формате +7-xxx-xx-xx:  <input type="tel" name="tel" class="text"
                                                                    pattern="+7[0-9]{3}-[0-9]{2}-[0-9]{2}">
                        </p>
                        <p>
                            Время бронирования:
                            <input type="datetime-local" name="date" min="09:00" max="23:00">
                        </p>
                        <span style="font-size: 20px;">Комфортный столик с двумя диванами, находящийся на летней веранде.    Вместимость до шести человек</span>
                        <p><input type="submit" value="Забронировать         ➜" style="color:wheat; background-image: linear-gradient(to right, rgb(41, 6, 6),rgb(49, 2, 41));font-size: 35px ; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(44, 1, 35);"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="popup4" class="popup">
        <div class="infowindow_body">
            <div class="infowindow_content">
                <a href="#table" class="infowindow_close close-popup">X</a>
                <div class="infowindow_title">Стол №4</div>
                <div class="infowindow_pic"><img src="content/mesto4.jpg" alt="table1" style="height:200px; width:400px; position: relative;left: 30px; "></div>
                <div class="infowindow_text">
                    <p>Вместимость: 8 человек</p>
                    <p>
                        Состояние стола:
                        @{
                            open = 0;
                            foreach (var order in ViewBag.Tables[3].orders)
                            {
                                if (order.state == true)
                                    open++;
                            }
                            if (open > 0)
                            {
                                    <text>Занято</text>
                            }
                            else
                            {
                                    <text>Свободно</text>
                            }
                        }
                    </p>
                    <form action="/Book">
                        <input type="hidden" name="id" value="@ViewBag.Tables[3].number" />
                        <p>
                            Введите ваше имя:
                            <input type="text" name="name" class="text" size="20" , required, maxlength="20">
                        </p>
                        <p>
                            Ведите количество человек:
                            <input type="number" class="text" size="20" , required, min="1" max="8" value="1">
                        </p>
                        <p>
                            Телефон в формате +7-xxx-xx-xx:  <input type="tel" name="tel" class="text"
                                                                    pattern="+7[0-9]{3}-[0-9]{2}-[0-9]{2}">
                        </p>
                        <p>
                            Время бронирования:
                            <input type="datetime-local" name="date" min="09:00" max="23:00">
                        </p>
                        <span style="font-size: 20px;">Комфортный столик большим диваном, вместимость до восьми человек</span>
                        <p><input type="submit" value="Забронировать         ➜" style="color:wheat; background-image: linear-gradient(to right, rgb(41, 6, 6),rgb(49, 2, 41));font-size: 35px ; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(44, 1, 35);"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="popup5" class="popup">
        <div class="infowindow_body">
            <div class="infowindow_content">
                <a href="#table" class="infowindow_close close-popup">X</a>
                <div class="infowindow_title">Стол №5</div>
                <div class="infowindow_pic"><img src="content/mesto5.jpg" alt="table1" style="height:200px; width:400px; position: relative;left: 30px; "></div>
                <div class="infowindow_text">
                    <p>Вместимость: 4 человека</p>
                    <p>
                        Состояние стола:
                        @{
                            open = 0;
                            foreach (var order in ViewBag.Tables[4].orders)
                            {
                                if (order.state == true)
                                    open++;
                            }
                            if (open > 0)
                            {
                                    <text>Занято</text>
                            }
                            else
                            {
                                    <text>Свободно</text>
                            }
                        }
                    </p>
                    <form action="/Book">
                        <input type="hidden" name="id" value="@ViewBag.Tables[4].number" />
                        <p>
                            Введите ваше имя:
                            <input type="text" name="name" class="text" size="20" , required, maxlength="20">
                        </p>
                        <p>
                            Ведите количество человек:
                            <input type="number" class="text" size="20" , required, min="1" max="4" value="1">
                        </p>
                        <p>
                            Телефон в формате +7-xxx-xx-xx:  <input type="tel" name="tel" class="text"
                                                                    pattern="+7[0-9]{3}-[0-9]{2}-[0-9]{2}">
                        </p>
                        <p>
                            Время бронирования:
                            <input type="datetime-local" name="date" min="09:00" max="23:00">
                        </p>
                        <span style="font-size: 20px;">Комфортный столик с двумя диванами возле бара, вместимость до четырех человек</span>
                        <p><input type="submit" value="Забронировать         ➜" style="color:wheat; background-image: linear-gradient(to right, rgb(41, 6, 6),rgb(49, 2, 41));font-size: 35px ; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(44, 1, 35);"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="popup6" class="popup">
        <div class="infowindow_body">
            <div class="infowindow_content">
                <a href="#table" class="infowindow_close close-popup">X</a>
                <div class="infowindow_title">Стол №@ViewBag.Tables[5].number</div>
                <div class="infowindow_pic"><img src="content/mesto6.jpg" alt="table1" style="height:200px; width:400px; position: relative;left: 30px; "></div>
                <div class="infowindow_text">
                    <p>Вместимость: 4 человека</p>
                    <p>
                        Состояние стола:
                        @{
                            open = 0;
                            foreach (var order in ViewBag.Tables[5].orders)
                            {
                                if (order.state == true)
                                    open++;
                            }
                            if (open > 0)
                            {
                                    <text>Занято</text>
                            }
                            else
                            {
                                    <text>Свободно</text>
                            }
                        }
                    </p>
                    <form action="/Book">
                        <input type="hidden" name="id" value="@ViewBag.Tables[5].number" />
                        <p>
                            Введите ваше имя:
                            <input type="text" name="name" class="text" size="20" , required, maxlength="20">
                        </p>
                        <p>
                            Ведите количество человек:
                            <input type="number" name="number" class="text" size="20" , required, min="1" max="4" value="1">
                        </p>
                        <p>
                            Телефон в формате +7-xxx-xx-xx:  <input type="tel" name="tel" class="text"
                                                                    pattern="+7[0-9]{3}-[0-9]{2}-[0-9]{2}">
                        </p>
                        <p>
                            Время бронирования:
                            <input type="datetime-local" name="date" min="09:00" max="23:00">
                        </p>
                        <span style="font-size: 20px;">Комфортный столик с двумя диванами на летней веранде. Вместимость до четырех человек</span>
                        <p><input type="submit" value="Забронировать         ➜" style="color:wheat; background-image: linear-gradient(to right, rgb(41, 6, 6),rgb(49, 2, 41));font-size: 35px ; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(44, 1, 35);"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="popup7" class="popup">
        <div class="infowindow_body">
            <div class="infowindow_content">
                <a href="#table" class="infowindow_close close-popup">X</a>
                <div class="infowindow_title">Стол №7</div>
                <div class="infowindow_pic"><img src="content/mesto7.jpg" alt="table1" style="height:200px; width:400px; position: relative;left: 30px; "></div>
                <div class="infowindow_text">
                    <p>Вместимость: 4 человека</p>
                    <p>
                        Состояние стола:
                        @{
                            open = 0;
                            foreach (var order in ViewBag.Tables[6].orders)
                            {
                                if (order.state == true)
                                    open++;
                            }
                            if (open > 0)
                            {
                                    <text>Занято</text>
                            }
                            else
                            {
                                    <text>Свободно</text>
                            }
                        }
                    </p>
                    <input type="hidden" name="id" value="@ViewBag.Tables[6].number" />
                    <p>
                        Введите ваше имя:
                        <input type="text" name="name" class="text" size="20" , required, maxlength="20">
                    </p>
                    <p>
                        Ведите количество человек:
                        <input type="number" class="text" size="20" , required, min="1" max="4" value="1">
                    </p>
                    <p>
                        Телефон в формате +7-xxx-xx-xx:  <input type="tel" name="tel" class="text"
                                                                pattern="+7[0-9]{3}-[0-9]{2}-[0-9]{2}">
                    </p>
                    <p>
                        Время бронирования:
                        <input type="datetime-local" name="date" min="09:00" max="23:00">
                    </p>
                    <span style="font-size: 20px;">Комфортный столик с двумя диванами на летней веранде. Вместимость до четырех человек</span>
                    <p><input type="submit" value="Забронировать         ➜" style="color:wheat; background-image: linear-gradient(to right, rgb(41, 6, 6),rgb(49, 2, 41));font-size: 35px ; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(44, 1, 35);"> </p>
                </div>
            </div>
        </div>
    </div>
    <div id="popup8" class="popup">
        <div class="infowindow_body">
            <div class="infowindow_content">
                <a href="#table" class="infowindow_close close-popup">X</a>
                <div class="infowindow_title">Стол №8</div>
                <div class="infowindow_pic"><img src="content/mesto8.jpg" alt="table1" style="height:200px; width:400px; position: relative;left: 30px; "></div>
                <div class="infowindow_text">
                    <p>Вместимость: 2 человека</p>
                    <p>
                        Состояние стола:
                        @{
                            open = 0;
                            foreach (var order in ViewBag.Tables[7].orders)
                            {
                                if (order.state == true)
                                    open++;
                            }
                            if (open > 0)
                            {
                                    <text>Занято</text>
                            }
                            else
                            {
                                    <text>Свободно</text>
                            }
                        }
                    </p>
                    <form action="/Book">
                        <input type="hidden" name="id" value="@ViewBag.Tables[7].number" />
                        <p>
                            Введите ваше имя:
                            <input type="text" name="name" class="text" size="20" , required, maxlength="20">
                        </p>
                        <p>
                            Ведите количество человек:
                            <input type="number" class="text" size="20" , required, min="1" max="2" value="1">
                        </p>
                        <p>
                            Телефон в формате +7-xxx-xx-xx:  <input type="tel" name="tel" class="text"
                                                                    pattern="+7[0-9]{3}-[0-9]{2}-[0-9]{2}">
                        </p>
                        <p>
                            Время бронирования:
                            <input type="datetime-local" name="date" min="09:00" max="23:00">
                        </p>
                        <span style="font-size: 20px;">Комфортный столик с двумя креслами, вместимость до двух человек</span>
                        <p><input type="submit" value="Забронировать         ➜" style="color:wheat; background-image: linear-gradient(to right, rgb(41, 6, 6),rgb(49, 2, 41));font-size: 35px ; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(44, 1, 35);"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="popup9" class="popup">
        <div class="infowindow_body">
            <div class="infowindow_content">
                <a href="#table" class="infowindow_close close-popup">X</a>
                <div class="infowindow_title">Стол №9</div>
                <div class="infowindow_pic"><img src="content/mesto9.jpg" alt="table1" style="height:200px; width:400px; position: relative;left: 30px; "></div>
                <div class="infowindow_text">
                    <p>Вместимость: 2 человека</p>
                    <p>
                        Состояние стола:
                        @{
                            open = 0;
                            foreach (var order in ViewBag.Tables[8].orders)
                            {
                                if (order.state == true)
                                    open++;
                            }
                            if (open > 0)
                            {
                                    <text>Занято</text>
                            }
                            else
                            {
                                    <text>Свободно</text>
                            }
                        }
                    </p>
                    <form action="/Book">
                        <input type="hidden" name="id" value="@ViewBag.Tables[8].number" />
                        <p>
                            Введите ваше имя:
                            <input type="text" name="name" class="text" size="20" , required, maxlength="20">
                        </p>
                        <p>
                            Ведите количество человек:
                            <input type="number" class="text" size="20" , required, min="1" max="2" value="1">
                        </p>
                        <p>
                            Телефон в формате +7-xxx-xx-xx:  <input type="tel" name="tel" class="text"
                                                                    pattern="+7[0-9]{3}-[0-9]{2}-[0-9]{2}">
                        </p>
                        <p>
                            Время бронирования:
                            <input type="datetime-local" name="date" min="09:00" max="23:00">
                        </p>
                        <span style="font-size: 20px;">Комфортный столик с двумя креслами возле бара, вместимость до двух человек</span>
                        <p><input type="submit" value="Забронировать         ➜" style="color:wheat; background-image: linear-gradient(to right, rgb(41, 6, 6),rgb(49, 2, 41));font-size: 35px ; border-radius: 10px 10px 10px 10px; border: 1px solid rgb(44, 1, 35);"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="Bronik.js"></script>
</body>

</html>